<header class="navbar navbar-fixed-top navbar-invers">
    <div class="container">
		<%= link_to "sample app", "#", id: "logo" %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to "Home",    root_path %></il>
				<li><%= link_to "Help",    help_path %></il>
				<li><%= link_to "Sign in", "#" %></il>
			</ul>
		</nav>
	</div>
</header>
